.banner__img {background: url(../image/about_img/about_main.png) no-repeat center; background-attachment: fixed; background-size: 100% 100%;}
footer {margin-bottom: 75px;}
/* ===============================
about_1
================================== */
/* \\ overview__1 \\ */
.overview__1 {
    background: url(../image/about_img/about1/about_top_img.png) no-repeat center;               
    background-size: cover;  background-attachment: fixed; 
    color: #fff; overflow: hidden;
}
.overview__1 p {padding: 1em 0;}
.overview__1 .o__1__box {width: 100%; margin-top: 2em;}
.overview__1 .o__1__box .o__1__item {
    width: calc(95%/5); border: 1px solid #ddd; text-align: center;
    float: left; padding: 1em; backdrop-filter: blur(10px); transform: translateY(300%);
}

.o__1__item.active:nth-child(1) {transform: translateY(0); transition: 0.5s linear;}
.o__1__item.active:nth-child(2) {transform: translateY(0); transition: 0.7s linear;}
.o__1__item.active:nth-child(3) {transform: translateY(0); transition: 0.9s linear;}
.o__1__item.active:nth-child(4) {transform: translateY(0); transition: 1.1s linear;}
.o__1__item.active:nth-child(5) {transform: translateY(0); transition: 1.3s linear;}

.overview__1 .o__1__box .o__1__item .o__1__img {width: 5em; height: 5em;}
.overview__1 .o__1__box .o__1__item:nth-child(1) .o__1__img {
    background: url(../../image/about_img/about1/info__1.png) no-repeat center; background-size: cover;}
.overview__1 .o__1__box .o__1__item:nth-child(2) .o__1__img {
    background: url(../../image/about_img/about1/info__2.png) no-repeat center; background-size: cover;}
.overview__1 .o__1__box .o__1__item:nth-child(3) .o__1__img {
    background: url(../../image/about_img/about1/info__3.png) no-repeat center; background-size: cover;}
.overview__1 .o__1__box .o__1__item:nth-child(4) .o__1__img {
    background: url(../../image/about_img/about1/info__4.png) no-repeat center; background-size: cover;}
.overview__1 .o__1__box .o__1__item:nth-child(5) .o__1__img {
    background: url(../../image/about_img/about1/info__5.png) no-repeat center; background-size: cover;}

.overview__1 .o__1__box .o__1__item .font18 {height: 3em;}
.overview__1 .o__1__box .o__1__item .font16 {height: 8em;}

/*@media(max-width:992px)*/
@media(max-width:992px) {
    .o__1__box {flex-wrap: wrap;    }
    .o__1__box .o__1__item:nth-child(1),
    .o__1__box .o__1__item:nth-child(2),
    .o__1__box .o__1__item:nth-child(3) {width: 32%;}
    .o__1__box .o__1__item:nth-child(1) .font18,
    .o__1__box .o__1__item:nth-child(2) .font18,
    .o__1__box .o__1__item:nth-child(3) .font18 {height: 3em;}
    .o__1__box .o__1__item:nth-child(1) .font16,
    .o__1__box .o__1__item:nth-child(2) .font16,
    .o__1__box .o__1__item:nth-child(3) .font16 {height: 4em;}
    .o__1__box .o__1__item:nth-child(4),
    .o__1__box .o__1__item:nth-child(5) {width: 49%; margin-top: 1em;}
}

/* \\ overview__2 \\ */
.overview__2 {height: auto;}
.overview__2 .container {gap: 2em; padding: 10em 1em;}
.overview__2 .o__2__box {height: 35vh; margin: 2em 0;}

.overview__2 .o__2__box .o__2__img {width: 50%; height: 100%; border-top-left-radius: 5em; border-bottom-right-radius: 5em; box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);}
.overview__2 .o__2__box:nth-child(1) .o__2__img {background: url(../image/about_img/about1/overview__2-1.png) no-repeat center; background-size: 120% 120%;}
.overview__2 .o__2__box:nth-child(2) .o__2__img {background: url(../image/about_img/about1/overview__2-2.png) no-repeat center; background-size: 120% 120%;}
.overview__2 .o__2__box:nth-child(3) .o__2__img {background: url(../image/about_img/about1/overview__2-3.png) no-repeat center; background-size: 120% 120%;}

.overview__2 .o__2__box .o__2__txt {width: 50%; padding: 0 1em; text-align: left;}

/*@media*/
@media(max-width:992px) {.overview__2 .o__2__box {height: 30vh;}}
@media(max-width:768px) {.overview__2 .o__2__box {height: 25vh;}}
@media(max-width:576px) {
    .overview__2 .o__2__box {flex-direction: column; height: 35vh; gap: 2em;}
    .overview__2 .o__2__box .o__2__img,
    .overview__2 .o__2__box .o__2__txt {width: 100%;}
    .overview__2 .o__2__box:nth-child(1) .o__2__img {order: 1;}
    .overview__2 .o__2__box:nth-child(2) .o__2__img {order: 3;}
    .overview__2 .o__2__box:nth-child(3) .o__2__img {order: 5;}
    .overview__2 .o__2__box:nth-child(1) .o__2__txt {order: 2;}
    .overview__2 .o__2__box:nth-child(2) .o__2__txt {order: 4;}
    .overview__2 .o__2__box:nth-child(3) .o__2__txt {order: 6;}
}

/* \\ overview__3 \\ */
.overview__3 {background:var(--color-bg1);}
.overview__3 p {padding: 1em 0;}
.overview__3 .o__3__box {margin-top: 2em;}

.overview__3 .o__3__box .o__3__item {width: calc(100%/2); transition: all 0.3s ease-in-out; padding: 1em;}
.overview__3 .o__3__box .o__3__item:nth-child(1),
.overview__3 .o__3__box .o__3__item:nth-child(2) {border-bottom: 1px dashed #ddd;}
.overview__3 .o__3__box .o__3__item:nth-child(1),
.overview__3 .o__3__box .o__3__item:nth-child(3) {border-right: 1px dashed #ddd;}

.overview__3 .o__3__box .o__3__item .o__3__img {height: 10em; width: 30%;}
.overview__3 .o__3__box .o__3__item .o__3__img img {width: 100%; height: 100%;}

.o__3__txt {width: 70%; padding-top: 1em;}

/*@media*/
@media(max-width:768px) {
    .overview__3 {height: auto; padding: 3em 0;}
    .overview__3 .o__3__box .o__3__item {width: 100%; border: none;}
    .overview__3 .o__3__box .o__3__item:nth-child(1) {border-right: none; }
    .overview__3 .o__3__box .o__3__item:nth-child(3) {border-right: none; border-bottom: 1px dashed #ddd;}
    .overview__3 .o__3__box .o__3__item .o__3__img {height: 20vw; width: 20vw;}
    .o__3__txt {text-align: left;}
}

/* \\ overview__4 \\ */
.overview__4 {text-align: center;}
.map {width: 100%;}
iframe {width: 100%; height: 60vh; margin: 0 auto; padding: 2em 0;}

/* ===============================
about_2
================================== */
.tabs .nav-tabs {width: 100%; border: none; color:#888;}
.tabs .nav-tabs li {
    width:calc(100% / 4); height:60px; line-height: 60px; text-align:center; }
.tabs .nav-tabs li.active { background-color: var(--color-bg1); font-weight: 600; color: #333;}


.tabs .tab-body {position:relative; min-height: 130vh; padding:10px 0; background-color: var(--color-bg1);}
.tabs .tab-body .tab-pane {width: 100%; position:absolute; top:-200%; opacity:0; transform:scale(0.9);
    transition:opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;}
.tabs .tab-body #tab1 {
    position:absolute; height: 120vh;
}
.tabs .tab-body > div.active {top:0px; opacity:1; transform:scale(1);}

.tabs .tab-body h2 {margin-top: 60px;}
.tabs .tab-body .business__intro {width: 100%; height: 35vh; margin-top: 60px;}
.tabs .tab-body .business__intro .business__intro_txt,
.tabs .tab-body .business__intro .business__intro_img {width: 50%; height: 100%;}
.tabs .tab-body .business__intro .business__intro_txt {text-align: left; padding-left: 2em; gap: 1em;}
.tabs .tab-body .business__intro .business__intro_img img {width: 100%; height: 100%;}

.tabs .tab-body .business__desc {text-align: left; padding: 3em 1em;}
.tabs .tab-body .business__desc p:nth-child(1) {margin-bottom: 0.5em;}
.tabs .tab-body .business__user_img {width: 100%; gap: 0.5em;}
.tabs .tab-body .business__user_img li {width: 24%; overflow: hidden; }
.tabs .tab-body .business__user_img li img {width: 100%; transition: all 0.5s ease-in-out;}
.tabs .tab-body .business__user_img li img:hover {scale: 1.2;}

/* ===============================
about_3
================================== */
.history {padding-bottom: 3em;}
.history ul li {
    position: relative;
    width: 4px;
    margin: 0 auto;
    padding-bottom: 10em;
    background: #ddd;
}

.history ul li::before {
    content: "";
    position: absolute;
    top: 3px;
    left: calc(50% - 5px);
    display: block;
    width: 10px;
    height: 10px;
    background: var(--color-main);
    -webkit-box-sizing: border-box;
    border-radius: 100%;
}
.history ul li::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 8px);
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-main);
    -webkit-box-sizing: border-box;
    border-radius: 100%;
    z-index: 1;
    transition: all .2s ease-in-out;
}

.history ul li div {
    position: relative;
    top: 0;
    width: 500px;
    padding-top: 2em;
    border-radius: 5px;
}
.history ul li div .year{
    position: absolute;
    top: -10px;
    font-size: 2em;
    font-weight: 600;
    color: var(--color-main);
}

.history ul li div div span {font-weight: 600; padding-right: 1em; position: absolute; left: 0;}
.history ul li div div p {padding: 0.5em 0; padding-left: 2em;}
.history ul li:nth-of-type(odd) > div {left: 45px;}
.history ul li:nth-of-type(odd) > div::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 300px;
    top: 0;
    left: -600px;
}
.history ul li:nth-of-type(even) > div {left: -545px;}
.history ul li:nth-of-type(even) > div::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 300px;
    top: 0;
    left: 600px;
}
.history ul li:nth-child(1) > div::before {background: url(../image/about_img/about2/2022_1.png) no-repeat center;}
.history ul li:nth-child(2) > div::before {background: url(../image/about_img/about2/2022_2.png) no-repeat center;}
.history ul li:nth-child(3) > div::before {background: url(../image/about_img/about2/2022_3.png) no-repeat center;}
.history ul li:nth-child(4) > div::before {background: url(../image/about_img/about2/2019_1.png) no-repeat center;}
.history ul li:nth-child(5) > div::before {background: url(../image/about_img/about2/2022_1.png) no-repeat center;}

.history ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.history ul li:nth-of-type(odd) div {
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}
.history ul li:nth-of-type(even) div {
    transform: translate3d(-100px, -10px, 0) rotate(10deg);
}
.history ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 900px) {
  .history ul li div {width: 250px; flex-direction: column;}
  .history ul li div div {width: 80%; margin: 10px;  }
  .history ul li:nth-of-type(even) > div {left: -289px;}
}
@media screen and (max-width: 600px) {
  .history ul li {margin-left: 20px;}
  .history ul li div {width: calc(100vw - 91px);}
  .history ul li:nth-of-type(even) > div {left: 45px;}
}/*# sourceMappingURL=main.css.map */


.historyfocus {
    position: absolute;
    left: calc(50% - 12px);
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-main);
    border-radius: 50%;
}
.historyfocus:before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    display: block;
    width: 10px;
    height: 10px;
    background: var(--color-main);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 100%;
}
.historyfocus:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 23px;
    display: block;
    width: 0px;
    height: 1px;
    background: var(--color-main);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.history__item .history__img {
    width: 25em;
    height: 20em;
    border: 1px solid #ddd;
    border-radius: 1em;
    margin-bottom: 2em;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.history__item .history__img .img__box {
    width: 100%;
    height: 100%;
    display: flex;
    animation: slide 10s infinite;

}
.history__item .history__img .img__box img {width: 100%; height: 100%;}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-200%);
    }
}



.history__item .history__txt .year {position: relative;}

.history__item .history__txt .year:before {
    content: "";
    position: absolute;
    left: -85px;
    top: 5px;
    z-index: 2;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: #ddd;
}


.history__item .history__txt {width: 65%; padding-left: 3em; padding-right: 0; position: relative;}
.history__item .history__txt::before {
    content: "";
    position: absolute;
    width: 0.1em;
    height: 7.2em;
    background: #ddd;
    top: 4.5em;
    left: 1.4em;
}
.history__item .history__txt__1::before {height: 7.5em;}
.history__item .history__txt__2::before {height: 22em;}
.history__item .history__txt__3::before {height: 32.5em;}
.history__item .history__txt__4::before {height: 32.5em;}
.history__item .history__txt__5::before {height: 11em;}

.history__item .year {font-size: 2em; font-weight: 700; color: var(--color-main); margin-left: -1em;}
.history__item .history__txt p {font-size: 1.2em; line-height: 3em; position: relative; word-spacing: -0.2em;}
.history__item .history__txt p span {display: inline-block; width: 2em; font-weight: 700;}
.history__item .history__txt p ::after {
    content: "";
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    background: #fff;
    border-radius: 50%;
    border: 3px solid var(--color-main);
    top: 1.2em;
    left: -1.6em;
}

/* ===============================
about_4
================================== */
.award .container {padding: 5em 1em; gap: 2vw;}
.award__item {width: calc(94%/3); height: 70%; text-align: center;}
.award__item .award__item__img {border: 2px solid transparent; border-radius: 0.5em; transition: all 0.3s ease-in-out; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);}
.award__item .award__item__img img {width: 100%; padding: 1em 2em;}
.award__item p {display: inline-block; padding: 0.5em 0; transition: all 0.3s ease-in-out;}
.award__item__img:hover {box-shadow: 3px 3px 20px rgb(185, 185, 185); border: 2px solid var(--color-main);}
.award__item:hover p {color: var(--color-main);}

/*@media*/
@media(max-width:768px) {.award__item {width: calc(94%/2);}}
