@import "reset.css"; /* css 초기화*/

section {height: 100vh;}

/* ----- \\ go-top(맨위로가기) \\ ----- */
#go-top {
    position: fixed; cursor: pointer; z-index: 100;
    bottom: 5px; right: 10px; width: 60px; height: 60px; border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); display: none;}
#go-top #go-top-value {
    display: grid; place-items: center;
    height: 52px; width: 52px; background-color:var(--white-bg);
    border-radius: 50%; color:var(--dark-gray);}
#go-top #go-top-value:hover {color: var(--color-main)}

/* ----- \\ right__line \\ ----- */
.right__line {
    position: absolute; top: 0; right: 0; z-index: 100;
    width: 80px; height: 100vh; border-left: 1px solid rgba(255, 255, 255, 0.2);}

/* ham__btn */
.ham__btn {position: fixed; width: 80px; right: 0; height: 80px; z-index: 9999;}
.ham__btn .hamburger {transition: all 0.3s ease-in-out; cursor: pointer;}
.ham__btn .hamburger .line {display: block; width: 25px; height: 3px; background-color: #fff; margin: 5px auto; transition: all 0.3s ease-in-out;}
.ham__btn .hamburger.is-active {animation: hamChange 0.6s forwards;}

@keyframes hamChange {0%, 100% {transform: scale(1);} 50% {transform: scale(0);}}

.ham__btn .hamburger.is-active .line:nth-child(1),
.ham__btn .hamburger.is-active .line:nth-child(2),
.ham__btn .hamburger.is-active .line:nth-child(3) {transition-delay: 0.2s;}
.ham__btn .hamburger.is-active .line:nth-child(2) {opacity: 0;}
.ham__btn .hamburger.is-active .line:nth-child(1) {transform: translateY(8px) rotate(45deg);}
.ham__btn .hamburger.is-active .line:nth-child(3) {transform: translateY(-8px) rotate(-45deg);}    

/* overlay__menu */
.overlay__menu {position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background-color: #191e29; color: #888; z-index: 900; transform: translateY(-100%); transition: all 0.5s ease-in-out;}
.overlay__menu.active {transform: translateY(0);}
.overlay__menu ul {height: 100%;}
.overlay__menu > ul > li {width: calc(100%/6); height: 100%; display: flex; flex-direction: column; align-items: center; text-align: center; padding-top: 320px; border-right: 1px solid rgba(255, 255, 255, 0.1);}
.overlay__menu > ul > li > a {line-height: 50px; color: #fff;}
.overlay__menu .overlay__menu-1 > li > a {line-height: 35px; position: relative; transition: all 0.3s ease-in-out;}
.overlay__menu .overlay__menu-1 > li > a::before {
    position: absolute; top: 8px; left: -20px; z-index: 912; content: ""; width: 10px; height: 2px;  background-color: var(--white-bg);
    transform: translateX(-100%); opacity: 0; transition: all 0.2s linear;}
.overlay__menu .overlay__menu-1 > li > a:hover::before {transform: translateX(0); opacity: 1;}
.overlay__menu > ul li a:hover,
.overlay__menu > ul li.active > a {color: #fff;}
.overlay__menu-1 li .overlay__menu-2 {display: none;}
.overlay__menu-1 li a.active .overlay__menu-2 {display: block;}

/* overlay__menu */
@media (max-width: 992px) {
    .overlay__menu > ul {height: auto; flex-direction: column; justify-content: center; padding-top: 200px;}
    .overlay__menu > ul > li {width: 100%; padding-top: 0;}
    .overlay__menu > ul > li > a {line-height: 50px;}
    .overlay__menu > ul > li .overlay__menu-1 {display: none;}
    .overlay__menu > ul > li.on .overlay__menu-1 {display: block;}
    .overlay__menu .overlay__menu-1 > li > a {line-height: 25px;}
}

/* ----- \\ header \\ ----- */
header {
    position: fixed; top: 0; left: 0; z-index: 800;
    width: 100%; height: 80px; border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--font-dark);
}
header.on {position: fixed; top: -80px;}
header .mainNav {width: 100%; height: 100%;}

/* logo */
header .logo {position: absolute; width: 150px; height: 100%; z-index: 9999;}
header .logo img {height: 2em;}

/* main__nav */
.main__nav {width: 100%; height: 100%;}

.main__nav .gnb {max-width: 800px; margin: 0 auto; height: 100%;}
.main__nav .gnb .menu__item {position: relative;}
.main__nav .gnb .menu__item .menu__item__list {color: var(--font-white); font-weight: 400; transition: all 0.3s ease;}
.main__nav .gnb .menu__item .arrow {margin-left: 5px;}
.main__nav .gnb .menu__item .arrow,
.main__nav .gnb .menu__item .menu__item__list .more-arrow {transition: all 0.5s ease-in-out;}
.main__nav .gnb .menu__item a:hover, .gnb .menu__item a:hover .arrow {color: var(--font_main);}
.main__nav .gnb .menu__item:hover .arrow {transform: rotate(180deg);}
.main__nav .gnb .menu__item:hover .sub__menu {top: 50px; opacity: 1; visibility: visible;}

.main__nav .gnb .menu__item .sub__menu {
    position: absolute; top: 70px; left: 50%; transform: translateX(-50%);
    width: 12em; padding: 10px 0; line-height: 1.8em; background: var(--white-bg);
    border-top: 3px solid var(--font_main); 
    opacity: 0; visibility: hidden; transition: all 0.3s ease-in-out; z-index: 802;}
.main__nav .gnb .menu__item .sub__menu .sub__menu__list {position: relative; width: 100%; padding: 0.2em;}
.main__nav .gnb .menu__item .sub__menu .sub__menu__list a {
    display: flex; justify-content: center; width: 100%; line-height: 2em; padding: 0 10px;
    transition: all 0.3s ease-in-out;}
.main__nav .gnb .menu__item .sub__menu .sub__menu__list .more-arrow {line-height: 1.8em; margin-right: 0; margin-left: auto;}

.main__nav .gnb .menu__item .sub__menu .sub__menu__list .more__sub__menu {
    position: absolute; top: -3px; left: 12em; width: 10em; background-color: var(--white-bg);  opacity: 0; visibility: hidden;
    border-top: 3px solid var(--font_main); transition: all 0.3s ease-in-out;}
.main__nav .gnb .menu__item .sub__menu .sub__menu__list:hover .more__sub__menu {opacity: 1; visibility: visible;}
.main__nav .gnb .menu__item .sub__menu .sub__menu__list a:hover,
.main__nav .gnb .menu__item .sub__menu .sub__menu__list li a:hover {color: var(--font_main); background: var(--white-bg);}

/* search-box */
.searchTop {position: fixed; top: 90px; right: 0;
    width: 300px; height: 50px; padding: 1em 0; font-size: 18px; color: #fff; cursor: pointer; overflow: hidden; padding-right: 16px;}

.searchTop .searchBox {position: relative; right: -200%; transition: 0.5s ease-in-out;}
.searchTop .searchBox.active {right: 0;}
.searchTop .searchBox input {
    position: relative; top: 0; right: -20px; width: 200px; padding: 0.5em;
    outline: none; border-bottom: 1px solid rgba(255, 255, 255, 0.5); color: var(--font_d-gray);}
.searchTop .searchIcon {width: 100%; display: flex; justify-content: right;}
.searchTop .searchIcon .searchBtn {padding: 0.3em; border-radius: 50%; background-color: var(--white-bg); color: var(--font_d-gray);}
.searchTop .searchIcon .closeBtn {position:relative; top: 5px; right: 70px; opacity: 0; visibility: hidden; scale: 0; color: var(--color-main);}
.searchTop .searchIcon .closeBtn.active {opacity: 1; visibility: visible; scale: 1; transition: 0.5s;}

/* lang__menu */
.lang__menu {position: fixed; top: 130px; right: 0; z-index: 803; width: 80px; height: 80px;}
.lang__menu .lang__list {height: 100%; cursor: pointer;}
.lang__menu .lang__list a {font-size: 10px; color: var(--d-gray); gap: 0.5em;}
.lang__menu .lang__list a img {width: 30px;}


@media (max-width: 1200px) {
    header {font-size: 15px;}
    header .logo {width: 120px;}
    .main__nav .gnb {max-width: 760px;}
}
@media (max-width: 992px) {
    .main__nav {display: none;}
    header .logo {width: 120px;}
}

/* ============================================================================== */

/* ----- \\ customer \\ ----- */
.customer {padding: 2em 0;}
.customer > h3 {text-align: center;}

.customer .customer__slider {overflow: hidden; padding-top: 2em;}
.customer .customer__slider .customer__slide-track {animation: customerSlider 40s linear infinite; display: flex;  width: 3000px;}
.customer .customer__slider .customer__slide-track > li {height: 150px; width: 250px; display: flex; align-items: center; justify-content: center;}
.customer .customer__slider .customer__slide-track > li > img {width: 100%;}

@keyframes customerSlider {
  0% { transform: translateX(0); }
  100% { transform: translateX(-1200px); }}
@-webkit-keyframes customerSlider {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1200px); }}

/* ============================================================================== */

/* ----- \\ contact \\ ----- */
.contact {padding: 2em 0; color: #fff; background: url(../image/index/contactus-bg.png) no-repeat center/cover;}
.contact .contact__item {width: 50%; text-align: center; padding: 0 1em;}
.contact .contact__item:first-child {border-right: 1px solid rgba(255,255,255,0.3);}
.contact .contact__item p {height: 4em; margin-top: 1em;}
.contact .contact__item a {border: 1px solid #ddd; padding: 0.5em 2em; border-radius: 2em; transition: all 0.3s ease;}
.contact .contact__item a:hover {color: var(--pink); border-color: var(--pink);}

/* ============================================================================== */

/* ----- \\ banner \\ ----- */
.banner {position: relative; width: 100%; height: 100vh; color: #fff; overflow: hidden; z-index: 20;}
.banner::after {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5);}
.banner__img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; animation: banner_img 2s ease-in-out;}
@keyframes banner_img {from {scale: 1.8;} to {scale: 1;}}

.banner__container {position:relative; height: 100%; z-index: 22; text-align: center; padding-bottom: 15em;}
.banner .fs64 {position: relative;}
.banner .fs64::after {
    content: ""; position: absolute; width: 1em; height: 5px; bottom: -0.5em; left: 50%; transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.6);}
.banner p {margin-top: 2em;}

/* scroll-btn */
#scroll-btn {position: absolute; left: 0; right: 0;height: 4em; width: 2em; border: 0.2em solid #fff; margin: auto; bottom: 4em; border-radius: 3em;}
#scroll-btn::before {
    position: absolute; left: 0; right: 0; content: ""; margin: auto; height: 0.8em; width: 0.8em;
    background-color: #fff; border-radius: 50%; animation: move-down 2s infinite;}
@keyframes move-down {80% {opacity: 0.5;} 100% {transform: translateY(2.5em); opacity: 0;}}
#scroll-btn::after {
    position: absolute; left: -5em; bottom: -3em; content: "SCROLL DOWN"; width: 12em; display: block; 
    text-align: center; font-size: 0.8em; color: #fff;}

/* ============================================================================== */

/* ----- \\ side__menu \\ ----- */
#side__menu {background-color: var(--m-blue); width: 100%; z-index: 91;}
#side__menu.on {position: fixed; bottom: 0; left: 50%; transform: translateX(-50%);}
#side__menu.off {position: fixed; top: -80px; left: 50%; transform: translateX(-50%);}
#side__menu .container {padding: 0 10px;}
#side__menu .subMn {width: 100%; bottom: 0; left: 0; gap: 3em; color: #fff;}
#side__menu .subMn > li > a {position: relative; line-height: 70px;}
#side__menu .subMn > li > a::after {
    position: absolute; bottom: -10px; left: 0; content: ""; width: 0; height: 3px;
    background-color: var(--font_main); transition: all 0.3s ease;}
#side__menu .subMn > li > a.active {color: var(--font_d-gray); font-weight: 600;}
#side__menu .subMn > li > a:hover {color: var(--font_d-gray);}
#side__menu .subMn > li > a.active:after {width: 100%;}

/* ----- \\ side__menu__media \\ ----- */
@media (max-width: 768px) {#side__menu .subMn > li > a {position: relative; line-height: 60px;}}
@media (max-width: 576px) {#side__menu .subMn > li > a {position: relative; line-height: 50px;}}

/* ============================================================================== */

/* ----- \\ main_title \\ ----- */
.main_title .container {padding: 2em 0; color: var(--font_black);}
.main_title p {color: var(--font_m-gray);}

/* ============================================================================== */

/* ----- \\ footer \\ ----- */
footer {position: relative; padding: 80px 0 40px 0; background-color:var(--dark-bg); color: var(--m-gray);}
.ft__logo {width: 100px; position: absolute; top: 40px;}

/* ft-info */
.ft-info__box {max-width: 600px;}
.ft-info {width: 100%; font-size: 15px;}
.ft-info li {display: flex; gap: 20px;}
.ft-info li .subject {position: relative; font-weight: 500;}
.ft-info li .subject::after {
    content: ""; position: absolute; top: 50%; transform: translateY(-50%); right: -10px;
    width: 1px; height: 12px; background-color: rgba(255, 255, 255, 0.4);}

/* ft-policy */
.ft-social__box {max-width: 400px;}
.ft-policy {width: 100%; padding-bottom: 20px; font-size: 16px; font-weight: 500;}
.ft-policy li {position: relative; padding-left: 20px; transition: 0.3s;}
.ft-policy li::after {
    content: ""; position: absolute; top: 50%; transform: translateY(-50%); left: 10px;
    width: 1px; height: 16px; background-color: rgba(255, 255, 255, 0.4);}
.ft-policy li:nth-child(1)::after {display: none;}
.ft-policy li a:hover {color: var(--pink); border-bottom: 1px solid var(--pink);}

/* ft-social */
.ft-social {gap: 10px; margin-bottom: 20px; }
.ft-social li {transition: all 0.3s; width: 35px; height: 35px; border-radius: 8px; display: grid; place-items: center; background-color: rgba(255, 255, 255, 0.1);}
.ft-social li img {width: 35px;}
.ft-social li:hover {background-color: var(--pink);}

/* ----- \\ footer__media \\ ----- */
@media (max-width: 1200px) {
    footer {padding: 50px 20px;}
    .ft-info {font-size: 14px;}
    .ft-policy {font-size: 15px;}
}
@media(max-width:900px) {
    footer {padding: 50px 10px;}
    .ft__logo {display: none;}
    footer .container {flex-direction: column; width: 100%;}
    .ft-info__box {order: 2; max-width: 100%;}
    .ft-social__box {order: 1; max-width: 100%;}
    .ft-info li {justify-content: center;}
    .ft-policy {order: 2;}
    .ft-social {order: 1; justify-content: center;}
}
@media(max-width:768px) {
    .ft-info {font-size: 13px;}
    .ft-policy {font-size: 14px;}
    .ft-social li {width: 30px; height: 30px; border-radius: 6px;}
}
@media(max-width:576px) {
    .ft-info {font-size: 12px;}
    .ft-info li { gap: 15px;}
    .ft-info li .subject::after {height: 10px; right: -7px;}
    .ft-policy {font-size: 12px;}
    .ft-policy li::after {height: 12px;}
    .ft-social li {width: 25px; height: 25px; border-radius: 4px;}

}
@media(max-width:400px) {
    .ft-info {font-size: 10px;}
    .ft-policy {font-size: 11px;}
}