.banner__img {
    background: url(../image/product_img/product_main.png) no-repeat center;
    background-attachment: fixed; background-size: 100% 100%;}
footer {margin-bottom: 75px;}

/* ===============================
common
================================== */
section {height: auto;}
section h4 {margin: 1em;}
/* ============ product_main ============= */
.product__main {background:var(--color-bg1); padding: 2em 0;}

/* product__main__txt */
.product__main__txt {width: 50%; height: 55vh; text-align: left;}
.txt__box {height: 65%;}
.txt__box span {color: #17223B;}
.product__main h3 {color: var(--color-font1);}
.product__main .txt__title__desc {color: #17223B; padding: 0.5em 0;}

/* display */
.display {width: 60%; height: 35%; border-radius: 5px; padding: 0.5em;}
.display__1 {width: 100%;}
.display p {font-weight: 600; margin-bottom: 0.5em; display: inline-block;}
.display table {text-align: left; position: relative;}
.display table th {font-weight: 600;}
.display table th, .display table td {padding: 0.5em;}
.display table td span {font-weight: 600; position: relative; padding-left: 1em;}
.display table td span::before {
    content: ""; position: absolute;
    width: 5px; height: 5px; top: 50%; left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #333;
}

/* product__main__img */
.product__main__img {
    width: 50%; height: 50vh;
    position: relative; overflow: hidden;
    border-radius: 1em; cursor: pointer;
    box-shadow: 0px 0px 20px #fff;
}
.product__main__img img {
    position: absolute; width: 100%; height: 100%;
    transform: scale(var(--zoom, 1));
    transform-origin: var(--x) var(--y);
    transition: transform 0.5s ease;
}
.product__main__img_txt {position: absolute; bottom: 10px; right: 0; text-align: center;}
.product__main__img p {
    padding: 0.5em 1em; margin-bottom: 1em;
    background:var(--color-main); color: #fff;
    border-radius: 5em; position: relative;
}
.product__main__img:hover {--zoom: 2;}

/* ============ intro ============= */
.intro {padding: 10em 0;}
.intro__img {gap: 1em; text-align: center;}
.intro__img_box {width: 14em;}
.intro__img_box img {width: 100%; height: 10em;}
.intro__img_box span {display: inline-block; display: flex; justify-content: center; align-items: center;}

/* ============ video ============= */
.video {background-color: var(--color-bg1);}
.video iframe {width: 100%; height: 80vh; border-radius: 1em;}

/* ============ software ============= */
.software h5 {width: 100%; margin-bottom: 1em; font-weight: 700; color: #434343;}
.soft__item__main {height: 60vh; margin-bottom: 5em;}

/* software__item__img */
.soft__item__main .soft__item__img {width: 60%;}
.tabs {width:100%; height:100%;}
.tabs .tab-header {height:60px;}
.tabs .tab-header > div {color:#444;font-weight:600; cursor:pointer; outline:none; padding-bottom: 0.2em;}
.tabs .tab-header > div.active {color: var(--color-main); border-bottom: 2px solid var(--color-main);}
.tabs .tab-body {position:relative; height:calc(100% - 75px); padding:10px 5px;}
.tabs .tab-body > div {
    position:absolute; overflow: hidden; padding: 1em;
    top:-200%; left: 0; opacity:0;
    width: 100%; height: 100%;
    transform:scale(0.9);
    transition:opacity 500ms ease-in-out 0ms,
        transform 500ms ease-in-out 0ms;
    background-image: linear-gradient(-110deg, #434343 0%, black 100%);
    border-radius: 1em;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.tabs .tab-body > div img {width: 100%; height: 100%;}
.tabs .tab-body > div.active {top:0px; opacity:1; transform:scale(1);}

/* software__item__txt */
.soft__item__main .soft__item__txt {width: 40%; padding: 0 2em;}
.soft__item__main .soft__item__txt h6 {text-align: left; margin-bottom: 1em;}
.soft__item {margin-bottom: 5em; gap: 1em;}
.soft__item_img {width: calc(96%/3); height: 15em;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    padding: 0.2em; overflow: hidden;
}
.soft__item_img img {width: 100%; height: 100%;}
.soft__item__txt {width: 100%; padding: 1em 0;}
.soft__item__txt p {position: relative; text-align: left; margin-left: 1.5em;}
.soft__item__txt p::before {content: ""; position: absolute;
    left: -1em; top: 50%; transform: translateY(-50%);
    width: 4px; height: 4px; background-color: var(--color-main);
}

/* ============ user ============= */
.user {background-color: var(--color-bg1); margin-bottom: 5em;}
.user__img {gap: 1em;}
.user__img_item {width: 24%; height: 20vh; border: 1px solid #ddd; position: relative; overflow: hidden;}
.user__img_item img {width: 100%; height: 100%; cursor: pointer; transition: all 0.3s ease;}
.user__img_item >span {position: absolute; bottom: -2em; left: 1em; color: #f2f2f2; opacity: 0; transition: all 0.3s ease;}
.user__img_item:hover span {opacity: 1; bottom: 0;}
.user__img_item:hover img {transform: scale(1.2);}


/* ============ 
product__2
============= */
/* ============ code ============= */
.code {margin: 3em 0;}
.code table {width: 100%; text-align: center; border: 1px solid #ddd;} 
.code table tr {height: 4vh;}
.code table th {font-weight: 700;height: 5vh; vertical-align: middle; background: rgb(231, 233, 231);}
.code table td {border: 1px solid #ddd; text-align: center; vertical-align: middle;}
.code p {text-align: right;}
.code .table {margin-bottom: 2em;}

/* ============ 
product__5, product__5 
============= */
/* ============ spec ============= */
.spec {background:var(--color-bg1);}
.spec table {width: 100%; background-color: rgba(255,255,255,.5); border-bottom: 2px solid #333;} 
.spec table tr {height: 3em;}
.spec table th {
    font-weight: 700;
    font-size: 1.1em;
    vertical-align: middle;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
    border-right: 1px solid #ddd;
}
.spec table td{width: calc(100%/4); vertical-align: middle; padding-left: 1em;}
.spec table td:first-child {border-right: 1px solid #ddd;}
.spec table td span {font-weight: 600;}

/* ============ feature ============= */
.feature table {width: 100%;}

/* ============ etc ============= */
.etc {position: relative; margin: 5em 0;}
.etc img {width: 100%;}
.etc a {position: absolute; top: 50%; left: 45%; transform: translateY(-50%);}
.etc:hover a {color: var(--color-main);}


/* ============ 
product__6
============= */

/* ============ goal ============= */
.goal {
    background:var(--color-bg1);
}
.feature .section__container {
    display: flex;
    flex-direction: column;
}
.goal__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.goal__box p {
    width: calc(100%/3);
    padding: 3em 0;
    line-height: 2em;
    font-size: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}
.goal__box_4 p {
    width: calc(100%/4);
}
.goal__box_5 p {
    width: calc(100%/5);
}

.goal__box p:last-child {
    border-right: 0;
}

/* ============ mode ============= */
.mode .section_title {
    width: 100%;
}
.mode__img img {
    width: 100%;
}
.mode__box .mode__item {
    width: calc(96%/4);
}


/* ============ system ============= */
.system__box {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.system__item {
    width: 50%;
    border: 1px solid #ddd;
    padding: 1em;
}
.system__item_txt {
    height: 15vh;
}
.system__item_txt h4 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}
.system__item_img {
    width: 100%;
    height: 30vh;
    padding: 1em;
    display: flex;
    gap: 1em;
}
.system__item_img_box,
.system__item_img_box_3 {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 600;
    text-align: center;
}
.system__item_img img {
    width: 90%;
    height: 80%;
}
.system__item_img_box_3 {
    width: 100%;
}
.system__item_img_box_3 img {
    width: 100%;
}
/* ============ cycle ============= */
.cycle {
    text-align: center;
}







