/* ===============================
main__banner
================================== */
#main__banner {
    width: 100%;
	height: 100vh;
	color: #fff;
    padding: 0;
}
.content-slider {
    position: relative;
    width: 100%;
    height: 100%;
}
.content-slider input {
    display: none;
}

.content-slider .slider {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
}
.content-slider .slider .banner_img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 0;
    width: inherit;
    height: inherit;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all .5s ease;
}
.content-slider .slider .banner_img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25,25,25,0.4);
}
#top-banner-1 {background: url('../image/index/main_visual_01.png') no-repeat center center; background-size: cover;}
#top-banner-2 {background: url('../image/index/main_visual_02.png') no-repeat center center; background-size: cover;}
#top-banner-3 {background: url('../image/index/main_visual_03.png') no-repeat center center; background-size: cover;}
#top-banner-4 {background: url('../image/index/main_visual_04.png') no-repeat center center; background-size: cover;}

.banner-inner-wrapper {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding-top: 15em;
    position: relative;
    z-index: 222;
}
.banner-inner-wrapper h2 {
    padding-bottom: 0.3em;
    font-weight: 400;
    font-size: 2em;
    text-transform: none;
}
.banner-inner-wrapper h1 {
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 700;
}
.banner-inner-wrapper p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 1em;
}

.banner-inner-wrapper .line {
    display: block;
    width: 4em;
    height: 0.2em;
    margin: 2.5em auto;
    background:#fff;
}
.banner-inner-wrapper .learn-more-button {
    padding-bottom: 5em;
    z-index: 15 !important;
}
.learn-more-button a {
    padding: 0.5em 2em;
    text-align: center;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    border: 0.1875em solid #fff;
    transition: all 0.3s ease-in;
}
.learn-more-button a:hover {
    color: var(--color-main);
    border-color: var(--color-main);
}

.banner__controls {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    z-index: 10;
    text-align: center;
}
.banner__controls .controls {
    display: block;
    width: 70%;
    margin: 0 auto;
    color: #fff;
}
.banner__controls .controls label {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 3.1em;
    overflow: hidden;
    margin: 0 1em;
    padding-top: 1em;
    text-align: left;
    text-transform: uppercase;
    font-size: 1em;
    color: var(--color-bg1);
    font-weight: 400;
    cursor: pointer;
    transition: all .3s;
}
.progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--color-bg1);
    z-index: 100;
}
.progressbar-fill {
    position: inherit;
    width: inherit;
    height: inherit;
    margin-left: -100%;
    background: var(--color-main);
}
.banner__controls .controls span {
    font-size: 1.4em;
    font-weight: 700;
    transition: all .3s;
}
.banner__controls .controls label:hover {
    color: var(--color-main);
}
.banner__controls .controls label:hover span{
    color: var(--color-main);
}

#banner1:checked ~ .slider #top-banner-1,
#banner2:checked ~ .slider #top-banner-2,
#banner3:checked ~ .slider #top-banner-3,
#banner4:checked ~ .slider #top-banner-4 {
    opacity: 1;
    z-index: 1;
}
#banner1:checked ~ .banner__controls label:nth-of-type(1),
#banner2:checked ~ .banner__controls label:nth-of-type(2),
#banner3:checked ~ .banner__controls label:nth-of-type(3),
#banner4:checked ~ .banner__controls label:nth-of-type(4) {
    cursor: default;
    color: #fff;
    transition: all .5s;
}
#banner1:checked ~ .banner__controls label:nth-of-type(1) .progressbar,
#banner2:checked ~ .banner__controls label:nth-of-type(2) .progressbar,
#banner3:checked ~ .banner__controls label:nth-of-type(3) .progressbar,
#banner4:checked ~ .banner__controls label:nth-of-type(4) .progressbar {
    background: #fff;
}
#banner1:checked ~ .banner__controls label:nth-of-type(1) .progressbar-fill,
#banner2:checked ~ .banner__controls label:nth-of-type(2) .progressbar-fill,
#banner3:checked ~ .banner__controls label:nth-of-type(3) .progressbar-fill,
#banner4:checked ~ .banner__controls label:nth-of-type(4) .progressbar-fill {
    animation: progressBarFill 5s linear;
}

/* Animations */
@keyframes progressBarFill {
	from {margin-left: -100%;}
	to {margin-left: 0;}
}

/* ===============================
company
================================== */
.company {background:url(../image/index/life_bg.jpg) no-repeat center; background-size: 100% 100%; color: #fff;}
.company__item {width: 100%; height: 50%; display: flex;}
.company__item .co__item_1 {width: 67.2%; display: flex;}
.company__item .co__item {width: 32.8%; transition: all 0.3s ease-in-out;}
.company__item_2 {display: flex; justify-content: right;}
.co__item_txt {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
.co__item_txt h4 {font-size: 2em; font-weight: 600;}
.font4 {font-size: 4em; font-weight: 600;}


.co__item_txt p {font-size: 1.5em;}
.co__item_txt span {border: 1px solid #fff; font-size: 2.5em; padding: 0.3em; border-radius: 50%; transition: all 0.5s ease-in-out;}
.co__item:hover {backdrop-filter: blur(10px);}
.co__item:hover span {background: var(--color-main); border: none;}

/* ===============================
products
================================== */
.options {display:flex; flex-direction:row; align-items:stretch; overflow:hidden; min-width:600px; max-width:900px; width:calc(100% - 100px); height:400px;}


/* ===============================
products
================================== */
.products {padding: 0; margin: 5em 0;}
.products__slider {width: 100%; height: 60%; transition:  opacity 0.6s ease, transform 0.3s ease;}
.swiper-slide {overflow: hidden; position: relative;}
.products__slider .swiper-image {width: 100%; height: 100%; display: flex; overflow: hidden;}

.products__slider .swiper-image .product__img {
    width: 50%;
    height: 100%;
    background-size: 80% 95% !important;
    background-position: center center !important;
    background-repeat: no-repeat;
}
.product__img_1 {background-image: url(../image/product_img/product1_image/cotras_main.png);}
.product__img_2 {background-image: url(../image/product_img/product2_image/cosas_main.png);}
.product__img_3 {background-image: url(../image/product_img/product3_image/cotras-c_main.png);}
.product__img_4 {background-image: url(../image/product_img/product4_image/sp-1100c_main.png);}
.product__img_5 {background-image: url(../image/product_img/product5_image/exo_main.png);}
.product__img_6 {background-image: url(../image/product_img/product6_image/CoreShoulder_main.png);}
.product__img_7 {background-image: url(../image/product_img/product7_image/cotras-vr_main.png);}


.products__slider .swiper-image .product__txt {width: 45%; height: 100%; padding: 0 1em; text-align: left; display: flex; flex-direction: column; justify-content: center; background: #fff;}
.products__slider .swiper-image .product__txt h3 {font-size: 1.8em; font-weight: 600;}
.products__slider .swiper-image .product__txt h4 {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--color-main);
    margin-bottom: 0.5em;
}
.products__slider .swiper-image .product__txt p {padding: 0.5em 0;}
.products__slider .swiper-image .product__txt a {
    width: 10em;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    margin-top: 1em;
    transition: all 0.3s;
    border-radius: 5px;
    font-weight: 600;
}
.products__slider .swiper-image:hover .product__txt a{background:var(--color-main); color: #fff;}


.swiper-button-prev,
.swiper-button-next {
    width: 44px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
}
.swiper-button-prev {
    transform: translateX(50px);
}
.swiper-button-next {
    transform: translateX(-50px);
}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

/* ------------------------
thumb-slider
--------------------------- */
.thumb-slider {
    width: 100%;
    height: 20%;
    padding-left: 5px;
    margin-top: 1em;
}
.thumb-slider .swiper-wrapper {
    display: flex;
    justify-content: space-between;
}
.thumb-slider .swiper-wrapper .swiper-slide {
    cursor: pointer;
    width: calc(90%/7);
    height: 100%;
    transition: all 0.3s;
    border: 3px solid #f2f2f2;
    text-align: center;
}
.thumb-slider .swiper-wrapper .product__img {
    width: 100%;
    height: 100%;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.thumb-slider .swiper-wrapper .product__img span {
    position: absolute;
    bottom: 0;
    background: #fff;
    left: 50%;
    width: 100%;
    font-weight: 600;
    transform: translateX(-50%);
}
.thumb-slider .swiper-wrapper .swiper-slide:hover {
    border: 3px solid var(--color-main);
}
.thumb-slider .swiper-wrapper .swiper-slide .slide-thumb:hover span {
    color: var(--color-main);
}


/* ===============================
board
================================== */

.board h2,
.board p {
    width: 100%;
}
.board__box {
    width: calc(96%/3);
    height: 75%;
    margin-top: 2em;
}
.board__box .board__tit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11%;
}
.board__box .board__tit h3 {
    font-size: 2em;
    font-weight: 600;
}
.board__box .board__tit span {
    color: var(--color-main);
    font-size: 2em;
    font-weight: 700;
}
/* board__item */
.board__item {
    height: 89%;
}
.board__item_main {
    height: 100% !important;
    max-height: 64% !important;
}
.board__item_main img {
    width: 100%;
    height: 75%;
    position: relative;
    top: -8px;
}
.board__box .board__item dl {
    height: 18%;
    padding: 0.5em 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.board__box .board__item dl:first-child {
    border-bottom: 2px solid rgba(0,0,0,0.2);
}
.board__box .board__item dl:last-child {
    border: none;
}
.board__box .board__item dl dt {
    font-size: 1.1em;
    line-height: 2.5em;
    font-weight: 600;
    transition: all 0.3s;
}
.board__box .board__item dl dt:hover {
    color: var(--color-main);
}



/* board__Swiper__box */
.board__Swiper {
    height: 100%;
}
.news__slide a {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.news__slide a img {
    height: 64%;
}
.news__slide .txt__box {
    width: 100%;
    height: 36%;
    padding: 0.5em 0;
}
.news__slide .txt__box h4 {
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.5em 0;
    transition: all 0.3s;
}
.news__slide .txt__box p {
    height: 3em;
}

.news__slide:hover h4 {
    color: var(--color-main);
}



.contact {
    display: flex;
    padding: 2em 0;
    height: auto;
    background: url(../image/index/contactus-bg.png) no-repeat center/cover;
    color: #fff;
}
.contact__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact__item:first-child {
    border-right: 1px solid rgba(255,255,255,0.3);
}
.contact__item h2 {
    font-size: 2em;
    font-weight: 600;
}
.contact__item p {
    padding: 1em 0;
}
.contact__item a {
    border: 1px solid #ddd;
    padding: 0.5em 2em;
    border-radius: 2em;
    font-size: 0.9em;
    transition: all 0.3s ease;
}
.contact__item a:hover {
    color: var(--color-main);
    border-color: var(--color-main);
    font-weight: 600;
}