@import "common.css"; /* css 초기화*/

.banner .banner__img {background: url(../image/technology_image/banner.jpg) no-repeat center; background-attachment: fixed; background-size: 100% 100%;}
footer{position: relative; bottom: 70px;}

/* ----- \\ tech__intro \\ ----- */
.tech__intro {height: 40vh;}
.tech__intro .tech__intro_txt {width: 55%; padding-right: 1em;}
.tech__intro .tech__intro_txt h4 {margin-bottom: 0.5em;}
.tech__intro .tech__intro_img {width: 45%;}
.tech__intro .tech__intro_img img {width: 100%; height: 100%;}

/* ----- \\ tech__desc \\ ----- */
.tech__desc {padding: 3em 1em; margin: 3em 0; background-color: var(--l-green); color: #fff;}

.tech__desc h4 {text-align: center; padding-bottom: 2em;}
.tech__desc .tech__desc-box {width: 100%;}
.tech__desc .tech__desc-item {width: calc(94%/3); font-size: 1em; padding: 2em; position: relative;}
.tech__desc .tech__desc-item span {position: absolute; top: -1.6em; left: 0;border-bottom: 3px solid #fff;}

/* ----- \\ tech__img \\ ----- */
.tech__img {padding-bottom: 10em;}
.tech__img img {width: 100%; height: 100%;}